html {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}
#ul {
  margin-left: 0;
  padding-left: 0;
}
#top {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  background-image: linear-gradient(
      45deg,
      white 25%,
      transparent 25%,
      transparent 75%,
      white 75%,
      white
    ),
    linear-gradient(
      45deg,
      white 25%,
      transparent 25%,
      transparent 75%,
      white 75%,
      white
    );
  background-position: 0 0, 1.5px 1.5px;
  background-size: 3px 3px;
  opacity: 0.2;
  content: "";
}
.video-container {
  width: 100%;
  height: 100vh;
  position: relative;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-relative {
  position: relative;
}
.copy {
  text-align: center;
  width: 80%;
  z-index: 15;
}
.copy p {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  font-family: cursive;
  letter-spacing: 0.2em;
}
.card-width {
  width: 250px;
  margin: 0 10px;
}
#ul {
  margin-left: 0px;
  padding-left: 0px;
}
.bg-gray-clear {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.643);
  cursor: pointer;
  top: 0;
  left: 0;
}
.light-box-popup {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  visibility: hidden;
  position: fixed;
  z-index: 100000001;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light-box-popup.light-box-open {
  visibility: visible;
  opacity: 1;
}
.light-box-popup .light-box-popup-in {
  width: 250px;
  max-height: 90%;
  position: relative;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInScale 0.5s ease;
  z-index: 100000002;

}
.light-box-popup .light-box-popup-in-img {
  width: 100%;
  height: auto;
  display: block;
}
.light-box-popup .light-box-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}
@keyframes fadeInScale {
  from {
    transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.hover {
  opacity: 1;
}
.hover:hover {
  opacity: 0.5;
}
.swiper {
  width: 100%;
  height: 300px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: #007bff;
  color: white;
}
.header-top {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.header-h1 {
  font-size: 20px;
  line-height: 64px;
  padding-top: 6px;
}
.header-logo {
  width: 60px;
  padding-left: 10px;
}
.space {
  height: 50px;
}